a.float-right{
	color:green;
	float:right !important;
}
header{
	padding-bottom: 20px;
}
div.error{
	color:red;
	text-align: center;
}

.auth-group {
	display:flex;
}

.auth-group button {
	margin: 10px;
}

img.profile-pic{
	width: 100%;
}
div.card{
	padding-left:15px;
	padding-right: 15px;
	padding-top: 8px;
	background-color: #bad0d4
}
div.event-card{
	width: 100%;
	height: 700px;
	padding-left: 15px;
}

div.homepage-events{
	width:100%;
	height: 700px;
}
div.col-md-auto{
	margin-bottom:30px;
}

.event-image-container{
	position: relative;
	width: 100%;
	height: 300px;
	overflow: hidden;
}
.event-image-container img{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.flip-container {
	perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container .flipper.flipped {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	display: inline-block;
	height: auto;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	height: auto;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top:15px;
	width: 100%;
	left:0px;
	padding-left: 30px;
	padding-right: 30px;

}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	position: absolute;
}

button.event-revert, button.event-submit{
	margin-left:15px;
	margin-right: 15px;
}

.carousel-control-prev, .carousel-control-next{
	max-width: 30px;
}