a.float-right{
	color:green;
	float:right !important;
}
header{
	padding-bottom: 20px;
}
div.error{
	color:red;
	text-align: center;
}

.auth-group {
	display:flex;
}

.auth-group button {
	margin: 10px;
}