
header{
}
div.error{
	color:red;
	text-align: center;
}

/*
	Dash page
*/
.auth-group {
	display:flex;
}

.auth-group button {
	margin: 10px;
}

img.profile-pic{
	width: 100%;
}
div.card{
/*	padding-left:15px;
	padding-right: 15px;
	padding-top: 8px;*/
	background-color: white;
}
div.landing-page{
	background-color: #daefef;
}
div.event-card{
	width: 100%;
	height: 700px;
	padding-left: 15px;
}

div.homepage-events{
	width:100%;
	height: 700px;
}
div.col-md-auto{
	margin-bottom:30px;
}

.event-image-container{
	position: relative;
	max-width: 378px;
	overflow: hidden;
	width: auto;
	height: 300px;
}
.event-image{
	height: 300px;

}
.row{
	margin: 0px;
	flex-direction: row;
	justify-content: center;
}
.card-body{
	padding: 0;
}

/*
	Flip container
*/
.flip-container {
	perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container .flipper.flipped {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	display: inline-block;
	height: auto;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	height: auto;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top:15px;
	width: 100%;
	left:0px;
	padding-left: 30px;
	padding-right: 30px;

}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	position: absolute;
}

button.event-revert, button.event-submit{
	margin-left:15px;
	margin-right: 15px;
}

.carousel-control-prev, .carousel-control-next{
	max-width: 30px;
}
/*
	homepage
*/

.event-profile-pic{
	height: 250px;
	width: auto;
}

.event-user-area{
	display: inline-block;
}
.user-bio{
	padding-bottom :45px;
	padding-top: 25px;
	display: flex;
	justify-content: space-around;
}

.homepage-card{
	max-width: 750px;
	min-width: 300px;
}

.carousel-item.active.carousel-item{
	display: flex;
	justify-content: space-around;
}

.landing-page .carousel-inner{
	background-color: black;
	z-index: 0;
}

.event-location{
	display: inline-block;
	float: left;
	padding-left: 8px;
}

.event-date{
	display: inline-block;
	float:right;
	padding-right: 8px;
}

.event-content-container{
	flex:1;
	min-width: 350px;
	min-height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-left: 15px;
	margin-right: 15px;

}
.event-row{
    border: 1px solid;
}
.event-info-container{
	min-height: 100px
}
.event-details-container{
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.event-details{
	display: flex;
	width: 100%;
	padding-bottom: 15px;
	justify-content: space-around;
}
.card-img-top{
	height: 100%;
	width: auto;
}
.user-container{
	border: 1px solid black;
    min-height: 200px;
    border-radius: 100px;
}
.bio-row{
	flex-direction: row;
	justify-content: center;
}
.event-name{
	display: flex;
	justify-content: center;
}
.profile-image-container{
	position: relative;
	max-width: 200px;
	overflow: hidden;
	width: auto;
	height: 200px;
	border-radius: 100px;
}
.event-user-container{
	flex: 1;
	min-width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
}

.event-content-list{
	list-style-type: none;
	align-items: left;
	width:100%;
	padding:0;
}
.event-content-list li{
	display: flex;
	text-align: left;
}
.list-icon-container{
	display: flex;
	flex-flow: column;
	align-items: center;
	padding-right: 8px;
}
.list-flush{
	padding-left: 46px;
}
.list-icon-container img{
	margin-bottom: 2px;
	margin-top: 2px;
}
.list-content{
	padding-bottom: 5px;
}
.border-container{
	width: 0px;
	flex: auto;
	border: 2.5px #4286f4 solid;
}

.list-profile-container{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100px;
	border-radius: 50px;
	border:  3px #4286f4 solid;
	display: flex;
	flex-direction: row;
}
.list-profile{
	width: 100px;
	height:100px;
	border-radius: 50px;
	overflow: hidden;
}
.list-profile img{
	width: 120%;
	height:120%;
	transform: translate(-10%, -10%);
	margin: 0px;
}
.hide-event-info{
	transform:scale(1,0);
	transform-origin: top;
	transition: 0.4s;
	position: absolute;
}
.show-profile{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
}
.min-prof{
	transform: scale(0 , 0);
	transform-origin: top;
	transition: 0.4s;
	height: 0px;
}
.expand-prof{
	transform: scale(1, 1);
	transform-origin: top;
	transition: 0.4s;
}
@media (max-width: 570px){
	.event-user-container{
		min-width: 200px;
		width: auto;
		padding-bottom: 50px;

	}
	.bio-row{
		width: 200px;
	}
}
